body{
  font-family: "Bai Jamjuree", sans-serif;
}
.logo {
  width: 120px;
}

h2 {
  color: #2b2b2b;
}
.btn-success {
  background-color: hsl(171, 66%, 44%);
  border: none;
}
.btn-success:hover {
  background-color: hsl(171, 66%, 38%);
}

.btn-primary {
  background-color: hsl(233, 100%, 69%);
  border: none;
}
.btn-primary:hover {
  background-color: hsl(233, 100%, 60%);
}

footer {
  background-color: rgb(235, 233, 233) !important;
  color: #fff;
}
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

header {
  padding-top: 6rem;
}


